.icon-box {
  width: 60px;
  height: 60px;
  padding: 20px;
  margin-bottom: 1.2em;
  border-radius: 30px;
  background: rgba(44, 125, 250, 0.1);
  font-size: 14px;
  text-align: center;
}

.home-feature {
  margin-bottom: 8em;
}

.home-feature h2 {
  margin-bottom: 0.8em;
}