.footer {
  padding: 4em 1em;
  border-top: 2px solid rgba(100, 115, 139, 0.12);
  margin-top: 120px;
}

.footer-menu {
  margin-bottom: 4em;
  color: #64738b;
}

.footer-menu a {
  transition: all 0.2s ease;
  color: #64738b;
  font-size: 14px;
  line-height: 2.2em;
}

.footer-menu a:hover {
  padding-left: 4px;
  color: #4a5667;
  text-decoration: none;
}

.footer-menu ul {
  min-width: 240px;
}

.footer-heading {
  margin-bottom: 1em;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer-brand-text {
  font-size: 0.8em;
}

.footer-logo img {
  width: 100px;
  height: 18px;
  filter: grayscale(100%);
}

/* Dark Mode Styles */
@media (prefers-color-scheme: dark) {
  .footer {
    border-top: 2px solid rgba(228, 228, 228, 1);
  }

  .footer-menu, .footer-menu a {
    color: #e4e4e4;
  }

  a.p-3.p-md-1 img {
    color: #e4e4e4;
  }

  div.col.footer-brand-text.text-end {
    color: #e4e4e4;
  }
}